* {
	margin: 0px auto; 
	padding: 0px auto;
}

@font-face {
	font-family: "allura";
	src: url('../font/Allura-Regular.ttf');
}

@font-face {
	font-family: "bebas neue";
	src: url('../font/BebasNeue.otf');
}

@font-face {
	font-family: "steiner";
	src: url('../font/Steinerlight.ttf');
}


.userlogin {
	width: 39.5%; 
	float: right;
	margin-top: 7%;
}

.logform {
	width: 320px;
	height: 330px;
	background-color: rgba(251,249,250,.7);
	text-align: center;
	box-shadow: 3px 3px 5px 0px rgba(1,1,1,.6);
	z-index: 20;
	padding-top: 80px;
	float: left;
	border-radius: 10px;
}

.logos {
	float: left;
	width: 320px;
	height: 130px;
	z-index: 50;
	padding-left: 10px;
	margin-bottom: -70px; 
}

.umaklogo img {
	width: 120px;
	position: absolute;
	z-index: 450;
	margin-left: 35px;

}

.ssglogo img {
	width: 90px;
	position: absolute;
	z-index: 311;
	margin-left: 143px;
	margin-top: 20px;
}


.propic img {
	width: 90px;
}

.logform label {	
	font-size: 17px;
}


.logform input[type="text"] {
	height: 30px;
	width: 200px;
	padding-left: 10px;
	margin-top: 0px;
	border-width: .5px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;

}

.logform input[type="password"] {
	height: 30px;
	width: 200px;
	padding-left: 10px;
	margin-top: 0px;
	border-width: .5px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;

}


.logform input[type="submit"] {
	background-color: #1164b8;
	border: none;
	height: 30px;
	width: 210px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	margin-top: 15px;
}

.logform input[type="submit"]:hover {
	background-color: #063f79;
}



.heading{

	padding-left: 160px;
	padding-bottom: 2px;
	float: left;
	margin-top: 230px;
	margin-left: 90px;
	border-bottom: 5px solid #fef200;

}

.eventName{
	font-family: allura;
	font-size: 140px;
	color: #fef200;
	text-shadow: 2px 2px 4px #313130;
	line-height: 60px;
}

.eventOrganizer{
	font-family: bebas neue;
	font-size: 63px;
	color: white;
}

.eventOrganizer2{
	font-family: bebas neue;
	font-size: 83px;
	color: white;
	line-height: 40px;
	float: left;
}

.year{
	font-family: steiner;
	font-size: 95px;
	color: #fef200;
	text-shadow: 2px 2px 4px #313130;
	float: left;
}







.date {
	width: 300px;
	height: 100px;
	float: left;
	margin-left: 285px;
	text-align: center;
	margin-top: 50px;
	
}

#month {
	width: 130px;
	height: 30px;
	font-size: 30px;
	font-family: bebas neue;
	color: white;
	float: left;
	background-color: #1856ab;
}

#nuday {
	width: 126px;
	height: 63px;
	font-size: 60px;
	font-family: bebas neue;
	color: white;
	float: left;
	margin-top: 2px;
	border: 2px solid white;
}

#day {
	float: right;
	font-family: bebas neue;
	font-size: 50px;
	margin-top: -10px;
	padding-right: 6px;
	color: white;
}

#nudate {
	margin-top: -18px;
	font-family: bebas neue;
	font-size: 57px;
	float: left;
	padding-left: 7px;
	color: #fef200;
	text-shadow: 2px 2px 4px #313130;
}

.buttons {
	clear: both;
	padding-top: 30px;
}

.btn {
	font-size: 20px;
	padding: 5px;
	color: white;
	background-color: rgb(50,50,50);
	margin: 10px;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 30px;
}

.btn:hover {
	background-color: rgb(30,30,30);
}

.btno {
	font-size: 20px;
	padding: 5px;
	color: white;
	background-color: #fee100;
	margin: 10px;
	padding-left: 35px;
	padding-right: 35px;
	margin-top: 30px;
}

.btno:hover {
	background-color: rgb(239,192,3);
}